.input {
  display: inline;
}

.label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;

  box-sizing: border-box;
  border: 3px solid var(--color-fourth);
  border-radius: 5px;

  cursor: pointer;
}
